@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Titan+One&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    text-align: center;
}
.quiz{
    background-color: rgb(255, 255, 255);
    width: 25vw;
    height: max-content;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 2px 10px 0px black;
}
.option{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin-top: 10px;
}
.option button{
    background-color: rgb(13, 109, 13);
    color: white;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
}
.option button:hover{
    background-color: rgb(108, 108, 108);
}
h1{
    color: rgb(13, 109, 13);
}
#question{
    font-size: 16px;
    margin-top: 30px;
    color: rgb(0, 0, 0);
    text-align: justify;
    text-justify: inter-word;
}
#score {
    position: absolute; 
    top: 10px;         
    right: 10px;       
    color: rgb(13, 109, 13);
    font-size: 20px;
    text-align: right; 
}
#score a {
    display: block;   
    margin-top: 5px;
    text-decoration: none;
    color: rgb(13, 109, 13);
    font-weight: bold;
    text-decoration: underline;
}

.answers{
    background-color: rgb(255, 255, 255);
    position: absolute;
    box-shadow: 1px 2px 10px 0px black;
    z-index: -1;
    width: 50vw;
    padding: 35px;
    text-align: justify;
    text-justify: inter-word;
    border-radius: 10px;
    display: none;
}
video{
    width: 100vw;
    height: 100vh;
}